<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= requestedUsername %> Profile</title>
</head>
<body>
  <h1><%= requestedUsername %> Profile</h1>

  <% if (user) { %>
    <img src="<%= user.profilePicture %>" alt="Profile Picture">
    <p>Nick: <%= user.username %></p>
    <p>Recenzje użytkownika: <%= userReviews.length %></p>
  <% } else { %>
    <p>Ten użytkownik nie istnieje.</p>
  <% } %>
</body>
</html>
